/* =Goodies
-----------------------------------------------------------------------------*/
.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left img,
.image-right img {
  position: relative;
  top: .4em;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.push-right {
  float: right !important;
}
.push-left {
  float: left !important;
}
.push-center {
  float: none;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.propercase {
  text-transform: capitalize;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.first {
  margin-left: 0 !important;
}
.last {
  margin-right: 0 !important;
}
.pause {
  margin-bottom: 0.75em !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #da3e5a;
}
.highlight {
  background-color: #e5ecf5 !important;
}
.hide {
	display: none;
}
.unhide {
	display: block;
}

/* Width */
.width-33 {
  width: 33%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
input.width-100 {
  width: 98.6%;
}
textarea.width-100 {
  width: 99.4%;
}
select.width-100 {
  width: 99.4%;
}

/* Colors */
.black {
  color: #000000;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #777777;
}
.gray-light {
  color: #999999;
}
.white {
  color: #ffffff;
}
.blue {
  color: #1968a1;
}
.pink {
  color: #ed2b8c;
}
.red,
.error {
  color: #da3e5a;
}
.green,
.success {
  color: #18a011;
}

/* Link Colors Hover */
a.white:focus,
a.white:hover {
  color: #bfbfbf;
  color: rgba(255, 255, 255, 0.6);
}
a.green:focus,
a.green:hover,
a.red:focus,
a.red:hover,
a.error:focus,
a.error:hover {
  color: #000000;
}